<html ng-app="RegistroAcademico">

<head>
  <link rel="shortcut icon" href="./src/img/Logo.ico" />
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./scripts/css/styles1.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script type="text/javascript" src="./scripts/js/app.module.js"></script>
  <script type="text/javascript" src="./scripts/js/inicio.js"></script>
</head>

<body class="bg" background="./src/img/KonradBienestar.jpg" ng-controller="RegistroController">
  <br>
  <br>
  <div class="container" style="align-self: center; width: 35%;">
    <div style="align-self: center;">
      <img src="./src/img/KonradLogo.png">
    </div>
  </div>
  <div class="container loginpanel" style="align-content: center; width: 47%;">
    <div style="align-items: center; padding-top: 45px; padding-bottom: 45px;">
      <form>
        <label class="form-label" style="width: 5%; margin-left:45px;">Código</label>
        <input class="form-control" ng-model="requested.codigo" type="text" placeholder="Código" 
          style="margin-left:45px; width: 40%;" required>
        <label class="form-label" style="width: 5%; margin-left:45px;">Contraseña</label>
        <input class="form-control" ng-model="requested.password" type="password" placeholder="Contraseña"
          style="width: 40%; margin-left: 45px;">
          <input class="btn btn-success" style="margin-left:50%;
            margin-top: 10px;align-self:right;" type="submit" value="Ingresar" onclick="acceso()">
          <button class="btn btn-danger" style="margin-top:10px;">Limpiar</button>
      </form>
    </div>
  </div>
  <div class="footer-container form-label" style="background-color:gray;">
    <p>hecho por Mateo Blanco</p>
    <br>
    <br>
    <br>
  </div>
</body>

</html>